* {
  font-family: 'Cutive Mono', monospace;
}

html {
  background: url(background2.PNG) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
}

nav {
  width: 80%;
  margin: 0 auto;
  padding: 50px 150px 50px 100px;
}

nav ul {
  list-style: none;
  text-align: right;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  position: relative;
  padding: 10px;
  text-decoration: none;
  color: #aaa;
  margin: 0 10px;
}

nav ul li a:after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0px;
  bottom: -1px;
  background-color: white;
  width: 0px;
  height: 1px;
  transition: all 0.7s;
}

nav ul li a:hover {
  color: white;
}

nav ul li a:hover:after {
  width: 100%;
}

.container, .homepage-block-2, .homepage-block-3 {
  padding: 200px;
}


div.footernav {
  padding: 50px 100px 50px 100px;
}

.selftext p:nth-child(1) {
  font-size: 1.5em;
  color: white;
  font-style: italic;
  text-align: center;
}

.selftext p:nth-child(2) {
  font-size: 2.5em;
  color: white;
  text-align: center;
}

.homepage-block-2 {
  font-size: 10pt;
  color: white;
  text-align: center;
}

.travelheader h1{
  font-size: 2rem;
  color: white;
  text-align: center;
}

.travelheader p{
  font-size: 1rem;
  color: white;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

.card img{
  float: left;
  padding: 0px 50px 0px 0px;
}

.card2 img{
  float: right;
  padding: 0px 0px 0px 50px;
}

.travelcontainer img {
  width: 400px;
}

.travelcontainer p {
  padding-bottom: 20px;
}

.card, .card2 {
  padding: 100px 450px 100px 450px;
}

.travelcontainer h3 {
  font-size: 1rem;
  color: white;
}

.travelcontainer p {
  color: white;

}

.btn {
  border: 1px solid white;
  padding: 10px;
}




/* This only changes this particular animation duration */
.animate__animated.animate__fadeInDown {
  --animate-duration: 3s;
}

/* This changes all the animations globaly */
:root {
  --animate-duration: 800ms;
  --animation-delay: 0.9s;
}
